.jumbotron{
    background-image: url('/images/jumbotron.jpg');
    height: 100vh;
      background-size: cover;
}

.jumbo-footer{
  background-image: url('/images/footer-bg.jpg');
    height: 100vh;
      background-size: cover;
}

.card-body{
  
}